/**************/
/*** Global ***/
/**************/

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #005CA0 !important;
}

a:focus {
    outline: thin dotted silver;
}

a:active {
    border-width: 1px;
    border-style: dotted;
}

.container {
    position: relative;
    width: 900px;
    margin: auto;
}

/****************/
/*** Elements ***/
/****************/

/*** header ***/

header {
    background-color: #909090;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid black;
}

header > .container {
    position: relative;
    background-color: cyan;
}

#div-header-search {
    position: absolute;
    top: 20px;
    left: 170px;
    border: 1px solid blue;
}

#div-header-search > .div-search-input > input[type="text"] {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 126px;
    border: 1px solid black;
}

#div-header-search > a {
    position: absolute;
    top: 3px;
    right: 132px;
    width: 19px;
    height: 19px;
    background-image: url("../images/search_button.png");
    border: 1px solid black;
}

.company-logo {
    display: inline-block;
    position: absolute;
    top: 120px;
    right: 50px;
    width: 142px;
    height: 93px;
}

/*** main ***/

/*** footer ***/
