/**************/
/*** Global ***/
/**************/

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
    color: #005CA0 !important;
}

a:focus {
    outline: thin dotted silver;
}

a:active {
    border-width: 1px;
    border-style: dotted;
}

a.read-more {
    font-size: 13px;
    text-decoration: underline;
    float: left;
}

a.readMore span {
    padding-left: 12px;
}

body {
    direction: rtl;
    text-align: right;
    font-family: "Arial (Hebrew)", Arial, sans-serif;
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

img { 
    border: 0; 
}

input {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

ol, ul, li { 
    list-style: none; 
}

/*** End Global ***/

.white-text-color {
    color: white;
}

.yellow {
    background: url("../images/read_more_yellow.png") no-repeat left center;
}

.blue {
    background: url("../images/read_more_blue.png") no-repeat left center;
}
.tab-text {
    width: 228px;
    height: 77px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    left: 38px;
    bottom: 6px;
    color: white; /* .white-text-color */
    background: url("../images/paz_tab_text_bg.png") no-repeat 0 0;
}

.tab-margins {
    margin: 0 10px;
}

.flex-container {
    display: flex;
    position: relative;
    top: 20px;
    right: 0;
    border: 2px solid blue;
}

.fc {
    display: flex;
    position: relative;
    right: 0;
    top: -13px;
    border: 1px solid blue;
    
}

html .flex-container, html .float-container {
    height: 1%;
}

.flex-container, .float-container  {
    display: block;
}

/* clearfix */
.flex-container:after, .float-container:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.flex-row-tabs, .flex-row-cubes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-column-tab {
    position: relative;
    z-index: 10;
    width: 293px;
    height: 355px;
    float: right;
    flex-grow: 1;
    /* display: flex; */
    /* flex: 1; */
    /* margin: 0px 1px; */
    border: 2px solid blue;
}

.rounded-bottom-right-corner {
    /* border-radius: top-left top-right bottom-right bottom-left; */
    border-radius: 0px 0px 25px 0px;
}

.tab-text-p {
    font-size: 13px;
    margin-top: 4px;
}

.row-cubes {

}

.main-container .row-cubes {
    color: #575757;
}

/* #hp .cube ==> mine: column-cube*/
.column-cube {
    position: relative;
    float: right;
    width: 244px;
    height: 216px;
    padding: 0 24px;
    color: #575757;
    background: url("../images/small_cube_bg.png") no-repeat 0 0;
}

.main-container .cube2 img {
    width: 250px;
    height: 110px;
}

.cube3-img {
    display: block;
    float: left;
}

.cube3-div-texts {
    display: block;
    float: right;
}

.cube {
    position: relative;
    width: 244px;
    /* width: 248px; */
    height: 216px;
    /* height: 142px; */
    float: right;
    /* padding: top+bottom right+left; */
    padding: 0 24px;
    /* padding: top right+left bottom; */
    /* padding: 18px 22px 15px; */
    background: url("../images/small_cube_bg.png") no-repeat 0 0;
    /* background: url("../images/cube_bg.png") no-repeat 0 0; */
}

.cube h3 {
    position: relative;
    height: 34px;
    right: 4px;
    line-height: 34px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

.cube1-div, .cube2-div {
    margin-top: 20px;
}

.cube a.readMore {
    float: left;
    color: #72716d;
}

.cube a.readMore {
    float: left;
    text-decoration: underline;
    color: #72716d;
}

header {
    color: #fff;
    background-color: #909090;
    width: 100%;
    height: 160px;
}

.container {
    position: relative;
    width: 920px;
    margin: 0 auto;
}

.header-container {
    height: 160px;
}

.main-container {
    width: 920px;
    margin: 0px auto;
}

#div-header-search {
    /* position: absolute; */
    position: relative;
    /* top: 20px; */
    /* left: 160px; */
    border: 5px solid purple;
}

#div-header-search > .div-search-input > input[type="text"] {
    /* position: absolute; */
    position: relative;
    display: inline-block;
    /* right: 4px; */
    width: 126px;
}

/* #div-header-search > a.search-button */
.search-button {
    /* position: absolute; */
    position: relative;
    display: inline-block;
    /* right: 132px; */
    width: 19px;
    height: 19px;
}

.company-logo {
    position: relative;
    top: 38px;
    right: 0px;
    width: 142px;
    height: 93px;
}

.nav-menu {
    position: relative;
    width: 100%;
    height: 105px;
}

.nav-menu > .dropdown {
    list-style: none;
    position: relative;
    height: 100px;
    /* margin: 0 143px 0 0; */
}

.nav-menu .dropdown li {
    display: inline-block;
    color: #fff;
}

.nav-menu ul .memu_item:hover {
    background-color: #bcbcbc;
}

.nav-menu ul li:hover ul {
    display: block;
    background-color: #909090;
    margin: 0;
}

.nav-menu > ul > li > a {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}

.nav-menu > ul > li > ul {
    list-style: none;
    position: absolute;
}

.nav-menu ul li ul li a span {
    display: block;
    width: 100%;
}

.nav-menu ul li ul li:hover a {
    white-space: nowrap;
}

/* .nav-menu ul li ul li:hover { */
.nav-menu ul li ul li:hover a span {
    background-color: #bcbcbc;
}

#breadcrumbs a {
    color: #5c5c5c;
}

.horizontal-menu-seperator {
    width: 4px;
    height: 21px;
    text-align: center;
    display: inline-block;
    /* margin: 0 16px; */
    margin: 0 5px;
}

.vertical-menu-seperator {
    width: 100%;
    *display: inline;
    zoom: 1;
    padding: 0;
    margin: 0;
    height: 1px;
    background: url("../images/menu_dropdown_sep.png");
    background-repeat: 0 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 110px;
    padding: 0;
    box-shadow: -4px 4px 0px 4px rgba(0, 0, 0, 0.2);
}

/* #fixedFooter .menu li a */

footer > .container > .nav-menu > ul > li > a {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}

main {
    background-color: white;
}

footer {
    background-color: #909090;
    width: 100%;
    height: 38px;
    position: fixed;
    z-index: 999999;
    bottom: 0;
    right: 0;
}

footer>.container>.nav-menu>ul {
    right: 0px;
    top: 10px;
}

footer>.container>.nav-menu>ul>li {
    /* display: inline-block; */
    float: right;
}

footer > .container > .nav-menu > ul > li > a.facebook {
    display: block;
    position: relative;
    width: 18px;
    height: 18px;
}

