a {
    text-decoration: none;
}

input, textarea, select {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.container {
    width: 900px;
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
}

header {
    background-color: #909090;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

header > a.company-logo {
    display: inline-block;
    position: absolute;
    bottom: -20px;
    right: -8px;
    width: 142px;
    height: 93px;
}

header #div-header-search .div-search-input input[type="text"] {
    position: absolute;
    top: 2px;
    right: 4px;
    width: 126px;
}

header #div-header-search a {
    position: absolute;
    top: 3px;
    right: 134px;
    width: 19px;
    height: 19px;
    background-image: url("../images/search_button.png");
}

header .container #nav-menu ul li {
    display: inline-block;
}

header .container #nav-menu ul li.seperator {
    width: 4px;
    height: 21px;
    text-align: center;
}

header .container nav ul li a {
    padding: 
    font-family: "Arial (Hebrew)", Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.home-page {

}

main {
    background-color: white;
}

footer {
    background-color: #909090;
}

