a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
}

header {
    background-color: #909090;
    height: 975px;
    position: fixed;
    top: 0;
    right: 0;
}

header #div-header-search a {
    background-image: url("../images/search_button.png");
    background-repeat: no-repeat;
    background-position: 100px 100px;
}

.home-page {

}

.container {
    width: 900px;
    margin: auto;
}

